extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. Fusce consequat varius dui, eu faucibus nunc condimentum eu. Maecenas lorem dolor, ultricies eu erat quis, sollicitudin fermentum metus. Aliquam posuere ultricies diam, vel ultricies metus mollis tempor. Praesent et urna sed purus cursus vehicula et sed velit. Ut commodo, dolor maximus porta vehicula, magna odio venenatis massa, at congue magna nibh a lectus. Donec at dui nec magna sagittis interdum vel nec erat. Aliquam augue dolor, efficitur sed lorem et, vehicula egestas odio.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. Fusce consequat varius dui, eu faucibus nunc condimentum eu. Maecenas lorem dolor, ultricies eu erat quis, sollicitudin fermentum metus.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. Fusce consequat varius dui, eu faucibus nunc condimentum eu. Maecenas lorem dolor, ultricies eu erat quis, sollicitudin fermentum metus.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. Fusce consequat varius dui, eu faucibus nunc condimentum eu. Maecenas lorem dolor, ultricies eu erat quis, sollicitudin fermentum metus.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula egestas pellentesque. Fusce consequat varius dui, eu faucibus nunc condimentum eu. Maecenas lorem dolor, ultricies eu erat quis, sollicitudin fermentum metus.
                    